* {
    color: #111;
    box-sizing: border-box;
}

/* CARD */
.Card {
    background-color: #f4f8ff;
    width: 40vh;
    min-height: 160px;
    border-radius: 5px;
    box-shadow: 0 8px 11px rgba(0, 0, 0, 0.371);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5vh;
}

/* HEADER */
.name_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name_container h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

/* STATUS */
.pendente {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 10px;
    background-color: #ffbb009f;
}

.Concluído{
     font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 10px;
    background-color: #02ff23a9;
}

/* DIVISOR */
.divider {
    width: 100%;
    height: 1px;
    background-color: #757575;
    border: none;
    
}


/* CONTEÚDO */
.servicos_title{
    font-size: 10px;
    font-weight: 750;
}
.Servicos{
    display: flex;
    gap: 8px;
}

.os_title{
    font-size: 10px;
    font-weight: 750;
}

.OS{
    display: flex;
    gap: 8px;
}

.os_container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.os_container p {
    margin: 0;
    font-size: 16px;
    color: #333;
}
