#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #fff;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.card-container {
  max-height: 600px;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 1250px;
}

.card-container::-webkit-scrollbar {
  display: none;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  justify-items: start;
  width: 100%;
  max-width: 1200px;
  margin: 0 200;
  max-height: 90;
  padding: 16px;
  margin-right: 100px;
}